[submodule "src/ex_snappy/emscripten"]
	path = src/ex_snappy/emscripten
	url = https://github.com/google/snappy.git
[submodule "src/ex_protobuf/emscripten"]
	path = src/ex_protobuf/emscripten
	url = https://github.com/invokr/protobuf-emscripten.git
[submodule "src/bindings_python/pybind11"]
	path = src/bindings_python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/ex_catch/upstream"]
	path = src/ex_catch/upstream
	url = https://github.com/philsquared/Catch.git
[submodule "src/ex_variant/upstream"]
	path = src/ex_variant/upstream
	url = https://github.com/eggs-cpp/variant.git
