# Butterfly
src/butterfly_proto/p*
replays
.tmp
.idea/

# CMake
*build*

# Apple
*.DS_Store
.AppleDouble
.LSOverride

# C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
